.container {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 20%;
  margin-right: 20%;
}

.header_container {
  display: grid;
  grid-template-rows: 60px 1fr;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.title_container {
  font-weight: 600;
  font-size: larger;
}

.buttons_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: end;
}

.calendar_container {
  display: grid;
  grid-template-columns: 80px 1fr;
}

.table_header {
  display: grid;
  grid-template-columns: 80px repeat(5, 1fr);
  background-color: gray;
}

.table_content {
  display: grid;
  grid-template-rows: 50px 1fr;
  align-items: center;
}

.time_name_column {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  background-color: gray;
}

.new_event_container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 100px;
  height: 350px;
}

.dropdown_row_item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 60px;
}

.new_event_button_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-end;
}

.table_day_header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: flex-end;
  background-color: gray;
}

.table_day_events {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: flex-start;
  height: 100%;
}

.table_day_item {
  text-align: center;
  font-weight: 600;
  height: 50px;
}

.time_title_item {
  text-align: center;
  font-weight: 600;
  height: 50px;
  border-style: solid;
}
